@model IEnumerable<Workshop.Models.WorkShop>

@{
    ViewData["Title"] = "Emergacy";
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Work Shops</title>
    <link href="~/sass/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <br />
   
    <div class="container emergancy workShops " id="workShops">
        <div class="input-group searchContent">
            <div class="form-outline search">
                <form id="form1" method="get" asp-action="SearchEmergacy">
                    <input asp-action="SearchEmergacy" type="search" id="form1" class="form-control searchInput" placeholder="Search" name="id" />
                    <a class="btn btn-primary wsbtn" onclick="document.getElementById('form1').submit();"><i class="fas fa-search"></i></a>
                </form>
            </div>
        </div>
        <h2 class="row container " style="margin-left: 20px !important; margin-bottom: 1.5rem;"> Nearest WorkShops</h2>

        @{
            int i = 0;

            int j = 0;
            string img = "";
            string icon = "";
            string address;
            @for (i = 0; i < Model.Count(); i++)
            {
                <div class="row container justify-content-center">
                    <div class="col-md-12 WshopTd">
                        <div class='card' style=' max-width: 90% !important;'>
                            @{img = "url('/imgs/" + @Model.ElementAt(i).Image + "')";
                                icon = "url('/imgs/" + @Model.ElementAt(i).Logo + "')";
                                if (!string.IsNullOrEmpty(Model.ElementAt(i).Address) && Model.ElementAt(i).Address.Length >= 65)
                                    address = Model.ElementAt(i).Address.Substring(0, 65) + "...";
                                else
                                    address = Model.ElementAt(i).Address;}
                            <div class='logo' style="background-image: @icon">
                            </div>
                            <div class='card-text'>
                                <div class='portada' style=' background-image: @img'>   </div>
                                <div class='title-total'>
                                    <div class='title'>
                                        @for (j = 0; j < Model.ElementAt(i).Rate; j++)
                                        {<i class='fa fa-star rate'></i>}
                                        @if (Model.ElementAt(i).Rate % 1 != 0)
                                        {
                                            <i class='fa fa-star-half-empty rate'></i>
                                            j++;
                                        }
                                        @for (j = j; j < 5; j++)
                                        {<i class='fa fa-star-o rate'></i>}
                                    </div>


                                    <div class='row container justify-content-center'>
                                        <div class='col-sm-6 pleft'>
                                            <h2>
                                                @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                            </h2>
                                            <div class='address'>
                                                <i class='fas fa-building icolor'> </i> &nbsp; @Html.DisplayFor(modelItem => Model.ElementAt(i).City) -  @Html.DisplayFor(modelItem => Model.ElementAt(i).Government) ,  @address
                                            </div>
                                            <div class='phone'> <i class='fas  fa-mobile-alt icolor'> </i> &nbsp; @Html.DisplayFor(modelItem => Model.ElementAt(i).User.PhoneNumber) </div>
                                        </div> <div class='col-sm-6 rcorner'>
                                            <br>
                                            <div>
                                                <i class='fas  fa-snowplow icolor'> </i>
                                                &nbsp; Winch service
                                            </div>
                                            <div>
                                                <i class='fas  fa-mobile-alt icolor'> </i>
                                                &nbsp;  &nbsp; Urgent <span> immediate </span>maintenance  service
                                            </div>
                                        </div>
                                    </div>



                                    <div class='actions mt-auto btn'>
                                        <a asp-action="workshopcollector" class='wsbtn btn' asp-route-id=@Model.ElementAt(i).Id><div>Show more</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }

        }

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
</body>

</html>

