@model IEnumerable<Workshop.Models.WorkShop>

@{
    ViewData["Title"] = "Index";
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Work Shops</title>
    <link href="~/sass/site.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

    

    <div class="container-fluid workShops" id="workShops">
        <div class="input-group searchContent">
            <div class="form-outline search">
                <input type="search" id="form1" class="form-control searchInput" placeholder="Search" />
                <button type="button" class="btn btn-primary wsbtn" >
                    <i class="fas fa-search"></i>
                </button>
            </div>
           


        </div>
        @{
            int i = 0;

            int j = 0;
            @for (i = 0; i < Model.Count(); i++)
            {
                <div class="row">
                    <div class="col-md-6 WshopTd">
                        <div class='card'>
                            <div class='logo' style="background-image: @Model.ElementAt(i).Logo">
                            </div>
                            <div class='card-text'>
                                <div class='portada' style=' background-image: @Model.ElementAt(i).Image'>   </div>
                                <div class='title-total'>
                                    <div class='title'>
                                        @for (j = 0; j < Model.ElementAt(i).Rate; j++)
                                        {<i class='fa fa-star rate'></i>}
                                        @if (Model.ElementAt(i).Rate % 1 != 0)
                                        {
                                            <i class='fa fa-star-half-empty rate'></i>
                                            j++;
                                        }
                                        @for (j = j; j < 5; j++)
                                        {<i class='fa fa-star-o rate'></i>}

                                    </div>
                                    <h2>
                                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                    </h2>
                                    <div class='address'>
                                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Address)
                                    </div>
                                    <div class='actions mt-auto btn'>

                                        <a asp-action="Edit" class='wsbtn btn' asp-route-id=@Model.ElementAt(i).Id><div>Show more</div></a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (i + 1 < Model.Count())
                    {
                        i++;

                        <div class="col-md-6 WshopTd">
                            <div class='card'>
                                <div class='logo' style="background-image: @Model.ElementAt(i).Logo">
                                </div>
                                <div class='card-text'>
                                    <div class='portada' style=' background-image: @Model.ElementAt(i).Image'>   </div>
                                    <div class='title-total'>
                                        <div class='title'>
                                            @for (j = 0; j < Model.ElementAt(i).Rate; j++)
                                            {<i class='fa fa-star rate'></i>}
                                            @if (Model.ElementAt(i).Rate % 1 != 0)
                                            {
                                                <i class='fa fa-star-half-empty rate'></i>
                                                j++;
                                            }
                                            @for (j = j; j < 5; j++)
                                            {<i class='fa fa-star-o rate'></i>}

                                        </div>
                                        <h2>
                                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                        </h2>
                                        <div class='address'>
                                            @Html.DisplayFor(modelItem => Model.ElementAt(i).Address)
                                        </div>
                                        <div class='actions mt-auto btn'>

                                            <a asp-action="Edit" class='wsbtn btn' asp-route-id="Model.ElementAt(i).Id"><div>Show more</div></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    }


                </div>
            }

        }

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/js/workShops.js"></script>

    <script>
        function load(button) {
            id = button.id;
            id = id.trim();
            location.href = "/public/SingleWarsha.html?id=" + id
        }
    </script>
</body>


</html>



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Government)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Government)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
