@model IEnumerable<Workshop.Models.WorkShop>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid workShops" id="workShops">
    <div class="row justify-content-center searchContent mb-4">
        <div class="col-12 col-md-7">
            <form id="form1" class="" method="get" asp-action="Search">
                <div class="input-group">
                    @if (ViewBag.searchText != null)
                    {
                        <input asp-action="Search" type="search" id="form1" value="@ViewBag.searchText" class="form-control searchInput" placeholder="Search" name="search" />

                    }
                    else
                    {
                        <input asp-action="Search" type="search" id="form1" class="form-control searchInput" placeholder="Search" name="search" />

                    }
                    <div class="input-group-append">
                        <button type="submit" class="search-btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @{
        int i = 0;
        string address;
        int j = 0;
        int rate = 0;
        @for (i = 0; i < Model.Count(); i++)
        {
            <div class="row pl-lg-4 pr-lg-4">
                <div class="col-md-6 col-12 WshopTd">
                    <div class='card shadow-sm'>
                        @{
                            rate = (int)Model.ElementAt(i).Rate;
                            if (!string.IsNullOrEmpty(Model.ElementAt(i).Address) && Model.ElementAt(i).Address.Length >= 65)
                                address = Model.ElementAt(i).Address.Substring(0, 65) + "...";
                            else
                                address = Model.ElementAt(i).Address;}

                        @if (Model.ElementAt(i).Logo != null)
                        {
                            <div class='logo' style=" background-image: url('/Upload/images/@Model.ElementAt(i).Logo');">
                            </div>
                        }
                        else
                        {
                            <div class='logo' style=" background-image: url('/imgs/Workshop-logo-default.png');">
                            </div>
                        }

                        <div class='card-text'>
                            @if (@Model.ElementAt(i).Image != null)
                            {
                                <div class='portada' style="background-image: url('/Upload/images/@Model.ElementAt(i).Image')">
                                </div>
                            }
                            else
                            {
                                <div class='portada'>
                                </div>
                            }
                            <div class='title-total pt-4'>
                                <div class='title row justify-content-end'>
                                    @for (j = 0; j < rate; j++)
                                    {
                                        <i class='fa fa-star rate'></i>
                                    }
                                    @if (Model.ElementAt(i).Rate % 1 >= 0.5)
                                    {
                                        <i class='fa fa-star-half-alt rate'></i>
                                        j++;
                                    }
                                    @for (; j < 5; j++)
                                    {
                                        <i class='far fa-star rate'></i>
                                    }
                                </div>
                                <h2 class="row">
                                    @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                </h2>
                                <div class='address row pl-4'>
                                    <span class="text-secondary pr-1">
                                        <i class="bi bi-geo-alt-fill text-lg text-lg"></i>
                                    </span>
                                    @address - @Model.ElementAt(i).City - @Model.ElementAt(i).Government
                                </div>
                                <div class='actions mt-auto btn'>
                                    <a asp-action="Details" class='wsbtn btn' asp-route-id="@Model.ElementAt(i).Id"><div>Show more</div></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @if (i + 1 < Model.Count())
                {
                    i++;
                    <div class="col-md-6 col-12 WshopTd">
                        <div class='card shadow-sm'>
                            @{
                                rate = (int)Model.ElementAt(i).Rate;
                                if (!string.IsNullOrEmpty(Model.ElementAt(i).Address) && Model.ElementAt(i).Address.Length >= 65)
                                    address = Model.ElementAt(i).Address.Substring(0, 65) + "...";
                                else
                                    address = Model.ElementAt(i).Address;
                            }

                            @if (Model.ElementAt(i).Logo != null)
                            {
                                <div class='logo' style=" background-image: url('/Upload/images/@Model.ElementAt(i).Logo');">
                                </div>
                            }
                            else
                            {
                                <div class='logo' style=" background-image: url('/imgs/Workshop-logo-default.png');">
                                </div>
                            }
                            <div class='card-text'>
                                @if (@Model.ElementAt(i).Image != null)
                                {
                                    <div class='portada' style="background-image: url('/Upload/images/@Model.ElementAt(i).Image')">
                                    </div>
                                }
                                else
                                {
                                    <div class='portada'>
                                    </div>
                                }
                                <div class='title-total pt-4'>
                                    <div class='title row justify-content-end'>
                                        @for (j = 0; j < rate; j++)
                                        {
                                            <i class='fa fa-star rate'></i>
                                        }
                                        @if (Model.ElementAt(i).Rate % 1 >= 0.5)
                                        {
                                            <i class='fa fa-star-half-alt rate'></i>
                                            j++;
                                        }
                                        @for (; j < 5; j++)
                                        {
                                            <i class='far fa-star rate'></i>
                                        }
                                    </div>
                                    <h2 class="row">
                                        @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)
                                    </h2>
                                    <div class='address row pl-4'>
                                        <span class="text-secondary pr-1">
                                            <i class="bi bi-geo-alt-fill"></i>
                                        </span>
                                        @address - @Model.ElementAt(i).City - @Model.ElementAt(i).Government
                                    </div>
                                    <div class='actions mt-auto btn'>
                                        <a asp-action="Details" class='wsbtn btn' asp-route-id="@Model.ElementAt(i).Id"><div>Show more</div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br />
        }

    }
</div>