@model Workshop.Models.Messages
@{
    ViewData["Title"] = "Message";
}

<link href="~/css/Message.css" rel="stylesheet" />
<style>
    .chat-footer {
        position: fixed;
        right: 0;
        bottom: 40px;
        width: 100%;
        left:20px;
    }
    .chat
    {
        width:100%;
    }
   
</style>




@if (Enumerable.Count(ViewBag.SendersName) > 0)
{
    <div class="preview">
        <div id="user-name">Messages <i class="fas fa-comment-dots"></i></div>

        @foreach (var item in ViewBag.SendersName)
        {
            <div>
                <span id="pic-div">
                    <img id="pic" src="~/imgs/person.png">
                </span>
                <div id="chat-username">
                    <span id="name">
                        <a style="        cursor: pointer;
        color: #E2AD21"><span id="@ViewBag.Id" onclick="GetUserId(this.id)">@item.UserSender.UserName</span></a>
    </span>
    <span id="msg"></span>
</div>
</div>
<hr>

@*<br />*@
ViewBag.Id++;
}
        <p hidden id="UserName">@ViewBag.UserName</p>
        <p hidden id="UserId">@ViewBag.UserId</p>



    </div>
    <div class="chats" id="chat">

    </div>



}
else
{
<div class="chats col-md-12" id="chat">
    <div class="chat-banner">
        <div>
            <span id="chat-pic">
                <img id="pic" src="~/imgs/person.png" />
            </span>
        </div>
        <div><i class='fas fa-info'></i></div>
    </div>

    <div class="chat">
        @foreach (var item in ViewBag.Messages)
        {
            @if (item.UserId == ViewBag.ClientID)
            {

                    <div class="col-12">


                        <div class="chat chat-right sender" >
                            <div class="chat-body">
                                <div class="chat-bubble">
                                    <div class="chat-content">
                                        <p> @item.Text</p>

                                        <span class="chat-time"> @item.When</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            }

            else
            {

                    <div class="col-12" style="display:flex;justify-content:flex-end">

                        <div class="chat chat-left receiver" >
                            <div class="chat-body">
                                <div class="chat-bubble">
                                    <div class="chat-content">
                                        <p>@item.Text</p>


                                        <span class="chat-time"> @item.When</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    }
                    }
                </div>
               


                <p hidden id="UserName">@ViewBag.UserName</p>
                <p hidden id="UserId">@ViewBag.UserId</p>


            </div>
<div class="chat-footer">

    <form asp-action="Message"
          data-ajax-begin="clearInputField" data-ajax-complete=""
          data-ajax-failure="alert('Fail')" data-ajax-success="sendMessage"
          data-ajax="true" data-ajax-method="POST">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="text" asp-for="Text" class="form-control send-input" id="messageText" placeholder="type something" />


        <input type="submit" value="Send" class="btn btn-primary" id="submitButton" onclick="" style="margin:auto;display:inline-block" />
        <input type="hidden" asp-for="Id" name="Id" />
    </form>
</div>

 

}

@section Scripts {
    <script>
        const userName = document.getElementById('UserName').innerHTML;
        var UserId = document.getElementById('UserId').innerHTML;
        console.log(userName);
        
       
        function GetUserId(id) {
            var UserId = document.getElementById(id).innerHTML;
            console.log(UserId);
           

            $.ajax({
                type: "Get",
                url: "/WorkShops/WorKShopMessageReciver",
                data: { SenderName: UserId },
                dataType: "html",

                success: function (res) {
                    $("#chat").html(res);
                   
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/chat.js"></script>

    <script src="~/js/signalRHandler.js"></script>
}

