@model IEnumerable<Workshop.Models.Service>

@foreach (var service in Model)
{

    @if (service.Verified == true)
    {
        <div class="row mb-4">
            <div class="card col-12">
                <div class="card-body row" id="card-@service.Id" style="height:150px">
                    <div class="col-3 h-100">
                        @if (service.Image != null)
                        {
                            <img src="/Upload/images/@service.Image" class="h-100 w-100">
                        }
                        else
                        {
                            <img src="/imgs/car-service.jpg" class="h-100 w-100">
                        }
                    </div>
                    <div class="col-9 pl-3 pt-3">

                        <span class="text-primary h5">@service.Title</span>

                        <span class="text-muted">
                            <span class="price">
                                @service.Price
                            </span><span class="small">EGP</span>
                        </span><br>

                        <div class="mb-3 small desc" id="@service.Id">
                            @if (service.Description == null || service.Description.Length <= 170)
                            {
                                @service.Description
                            }
                            else
                            {
                                @service.Description.Substring(0, 170)
                                <span class="points">...</span>

                                <span class="moreText">
                                    @service.Description.Substring(170)
                                </span>

                                <button href="#" class="pl-2 textButton" onclick="toggleText(@service.Id)">
                                    Show More
                                </button>

                            }
                        </div>
                        <div class="cart-btn float-right">
                            <button class="col-6 col-md-1">
                                <i class="fa fa-shopping-cart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}