@model IEnumerable<Workshop.Models.WorkshopRate>

<section class="clientFeedback">
    <div class="container-fluid">
        <div class="row d-md-flex  p-5">
            <h2 class="pb-5 feedback"> Clients & Feedbacks </h2>


            <div id="demo2" class="carousel slide col-xl-12 text-center">
                <!-- commentlist for create li in js -->
                <ul class="carousel-indicators" id="commentsList">
                    <li data-target="#demo2" data-slide-to="0" class="active Warshacircle"></li>
                    <li data-target="#demo2" data-slide-to="1" class="Warshacircle">
                    </li>
                    <li data-target="#demo2" data-slide-to="2" class="Warshacircle"></li>

                </ul>
                <div class="carousel-inner text-center warshaComments warshaSlideShow" id="inp">
                    @foreach (var item in Model)
                    {
                        @if (ViewBag.itemcount % 3 == 0)
                        {
                            @if (ViewBag.itemcount == 0)
                            {
                                @:<div class="carousel-item active WarshaCurosal">
                                }
                                else
                                {
                                    @:<div class="carousel-item  WarshaCurosal">
                                    }
                            @:<div class="card-deck ">
                            }
                        <div class="card border p-3 clientFeedbackCard ">
                            <div class="commentIconBackground">
                                <span class="fa fa-quote-left commentIcon"></span>
                            </div>

                            <div class="row" style="display: flex;">
                                <img src=" @item.UserProfile.Image"
                                     class=" mt-3 ml-3 rounded-circle clientImage">
                                <div class="media-body pl-3 mt-3 userInfo">

                                    <h5 class="userName">@Html.DisplayFor(modelItem => item.UserProfile.User.UserName) </h5>
                                    <p class="date">@Html.DisplayFor(modelItem => item.Date)</p>
                                </div>
                            </div>

                            <p class="pl-2 pt-4 userComment">
                                @Html.DisplayFor(modelItem => item.Review)
                            </p>
                            <p style="text-align:right; margin-right:50px;font-size:larger">Rate : <span style="color: #2748BA">@item.Rate / 5</span></p>
                        </div>
                        ++ViewBag.itemcount;
                    }


                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</section>
@section Scripts {
    <script src="~/js/script.js"></script>
}
@*<section class="services">
        <h2 class="pb-5 feedback"> Clients & Feedbacks </h2>
        <div class="row">

            @foreach (var item in Model)
            {
            <div class="card cardService" style="width:20em;margin:10px">
                <div class="row" style="display: flex;">
                    <img src=" @item.UserProfile.Image"
                         class=" mt-3 ml-3 rounded-circle clientImage">
                    <div class="media-body pl-3 mt-3 userInfo">

                        <h5 class="userName">@Html.DisplayFor(modelItem => item.UserProfile.User.UserName) </h5>
                        <p class="date"> @Html.DisplayFor(modelItem => item.Date)   </p>



                    </div>
                </div>
                <p class="pl-2 pt-4 userComment">
                    @Html.DisplayFor(modelItem => item.Review)
                </p>

            </div>

            }

        </div>
    </section>*@
