@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model dynamic

@{
    List<UserServices> Services = null;
    int servicesCount = 0;

    List<Notification> notifications = ViewBag.Notifications;
    int notifCount = ViewBag.UnreadCount;

    if (User.IsInRole("User"))
    {
        Services = ((List<UserServices>)ViewBag.UserServices);
        servicesCount = Services.Where(s => !s.Finished).ToList().Count;
    }
}
<div class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("User"))
        {
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - shopping cart  -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-shopping-cart fa-fw"></i>
                        <!-- Counter - Alerts -->
                        @if (servicesCount != 0)
                        {
                            <span class="badge badge-danger badge-counter" id="service-count">
                                @servicesCount
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger badge-counter" id="service-count"></span>
                        }
                    </a>
                    <!-- Dropdown - Alerts -->
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <div id="cart-dropdown">
                            @if (Services.Count == 0)
                            {
                                <div class="row justify-content-center p-5" id="service-empty">
                                    You have no items in your shopping cart.
                                </div>
                            }
                            else
                            {
                                @for (int i = 0; i < Services.Count && i < 3; i++)
                                {
                                    <a class="dropdown-item d-flex align-items-center p-3"
                                       asp-controller="WorkShops" asp-action="Details" asp-route-id="@Services[i].Service.WorkShop.Id">
                                        <div class="mr-3">
                                            <div class="">
                                                @if (Services[i].Service.WorkShop.Image == null)
                                                {
                                                    <img src="/imgs/Workshop-logo-default.png" alt="workshop logo">
                                                }
                                                else
                                                {
                                                    <img src="/Upload/images/@Services[i].Service.WorkShop.Image" alt="workshop logo">
                                                }
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small date">@Services[i].Date </div>
                                            <span class="font-weight-bold">You have order <b>@Services[i].Service.Title</b> </span>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                        <a class="dropdown-item text-center small bg-info text-light"
                           asp-controller="UserProfile" asp-action="Index" asp-route-username="@User.Identity.Name">
                            Show All
                        </a>
                    </div>
                </li>
                <!-- Nav Item - Notifications -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" onclick="UserNotifications()" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        @if (notifCount != 0)
                        {
                            <span class="badge badge-danger badge-counter" id="notification-count">
                                @notifCount
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger badge-counter" id="notification-count"></span>
                        }
                    </a>
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <div id="Notifications-center">
                            @await Html.PartialAsync("_NotificationsPartial", notifications, ViewData)
                        </div>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Notifications</a>
                    </div>
                </li>
                <li class="topbar-divider d-none d-sm-block"></li>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.User.UserName</span>
                        @if (Model.Image == null)
                        {
                            <img class="img-profile rounded-circle" src="/imgs/undraw_male_avatar_323b.svg">
                        }
                        else
                        {
                            <img class="img-profile rounded-circle" src="/Upload/images/@Model.Image">
                        }
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="UserProfile" asp-action="Index" asp-route-username="@User.Identity.Name">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                        </a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="dropdown-item">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        }
        @if (User.IsInRole("Workshop"))
        {
            <ul class="navbar-nav ml-auto">
                <!-- Nav Item - Notifications -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" href="#" onclick="UserNotifications()" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell fa-fw"></i>
                        <!-- Counter - Alerts -->
                        @if (notifCount != 0)
                        {
                            <span class="badge badge-danger badge-counter" id="notification-count">
                                @notifCount
                            </span>
                        }
                        else
                        {
                            <span class="badge badge-danger badge-counter" id="notification-count"></span>
                        }
                    </a>
                    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <div id="Notifications-center">
                            @await Html.PartialAsync("_NotificationsPartial", notifications, ViewData)
                        </div>
                        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Notifications</a>
                    </div>
                </li>
                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <a class="nav-link dropdown-toggle" asp-controller="WorkShops" asp-action="Message" id="messagesDropdown" role="tooltip" data-toggle="left" title="Messages">
                        <i class="fas fa-envelope fa-fw"></i>
                    </a>
                </li>

                <li class="topbar-divider d-none d-sm-block"></li>

                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.User.UserName</span>
                        @if (Model.Logo == null)
                        {
                            <img class="img-profile rounded-circle" src="/imgs/Workshop-logo-default.png">
                        }
                        else
                        {
                            <img class="img-profile rounded-circle" src="/Upload/images/@Model.Logo">
                        }
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                        <a class="dropdown-item" asp-controller="WorkShops" asp-action="Details" asp-route-id="@Model.Id">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Profile
                        </a>
                        <a class="dropdown-item" asp-controller="Services" asp-action="DisplayServices" title="Manage">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Dashboard
                        </a>
                        <div class="dropdown-divider"></div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="dropdown-item">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </button>
                        </form>
                    </div>
                </li>
            </ul>
        }
        else if (User.IsInRole("Admin"))
        {
            <ul class="navbar-nav ml-auto">
                <li>
                    <a asp-controller="Admin" asp-action="Index" class="btn btn-outline-primary btn-light btn-rounded">Dashboard</a>
                </li>
                <li class="topbar-divider d-none d-sm-block"></li>
                <!-- Nav Item - User Information -->
                <li class="nav-item dropdown no-arrow">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-rounded btn-outline-secondary">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        }
    }
    else
    {
        <div class="nav-item" id="login-link">
            <a class="btn btn-primary btn-rounded nav-link" asp-area="Identity" asp-page="/Account/Login">sign in</a>
        </div>
    }
</div>