@model List<WorkshopPlatform.Models.City>

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Locations";

    List<Government> governments = ViewBag.Governments;
}

<div class="dashboard">
    <div class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                @{
                    if (TempData["Done"] != null)
                    {
                        <div class="alert alert-primary alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @TempData["Done"]
                        </div>
                    }
                }
                <h2 class="text-muted"> Governments </h2><br>
                <div class="mt-2 mb-3">
                    <button id="create-government" type="button" class="btn btn-primary text-white" style="border-radius: 40px;" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i> Add Government
                    </button>
                </div>
                <div class="">
                    <form method="post" asp-action="Update">
                        <table class="table table-borderless table-data3 small" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Workshops count</th>
                                    <th>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in governments)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            0
                                        </td>
                                        <td>
                                            <div class="table-data-feature row justify-content-center">
                                                <button class="item mr-3" onclick="update(@item.Id)" data-toggle="tooltip" data-placement="top" title="Update">
                                                    <i class="mdi mdi-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button class="item" onclick="Delete(@item.Id)" data-toggle="tooltip" data-placement="top" title="Delete">
                                                    <i class="mdi mdi-delete" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
                <hr class="mb-5">
                <h2 class="text-muted"> Cities </h2><br />
                <div class="mt-2 mb-3">
                    <button type="button" id="create-city" class="btn btn-primary text-white" style="border-radius: 40px;" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i> Add City
                    </button>
                </div>
                <div class="">
                    <table class="table table-borderless table-data3 small" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Government</th>
                                <th>Workshops count</th>
                                <th>options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Government.Name
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        <div class="table-data-feature row justify-content-center">
                                            <button class="item mr-3" onclick="update(@item.Id)" data-toggle="tooltip" data-placement="top" title="Update">
                                                <i class="mdi mdi-pencil" aria-hidden="true"></i>
                                            </button>
                                            <button class="item" onclick="Delete(@item.Id)" data-toggle="tooltip" data-placement="top" title="Delete">
                                                <i class="mdi mdi-delete" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-primary" id="modal-header">Create city</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body p-4" id="modal-body">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#dataTable1').DataTable();
            $('#dataTable2').DataTable();

            $("#create-government").click(function () {
                $.ajax({
                    type: "GET", //Method type
                    url: "/Admin/CreateGovernment", //url to load partial view
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#modal-header").text("Create new government");
                        $('#modal-body').html(response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
            $("#create-city").click(function () {
                $.ajax({
                    type: "GET", //Method type
                    url: "/Admin/CreateCity", //url to load partial view
                    contentType: "application/json; charset=utf-8",
                    dataType: "html",
                    success: function (response) {
                        $("#modal-header").text("Create new city");
                        $('#modal-body').html(response);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });
    </script>
}