@model List<Workshop.Models.WorkShop>

@{
    Layout = "_Layout2";
    ViewData["Title"] = "NeedConfirmWorkshops";
}

<div class="dashboard">
    <input type="hidden" id="which-delete" value="0" />
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid">
                <div class="d-flex justify-content-center custom-alert">
                    <div class="d-none alert alert-warning alert-dismissible w-50" role="alert" id="alert-error">
                        <div class="row">
                            <div class="col-11">
                                <i class="fa fa-exclamation-circle mr-3"></i>
                                <span id="message" class="small"></span>
                            </div>
                            <div class="col-1">
                                <button type="button" class="close ml-5" onclick="$('#alert-error').fadeOut()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="text-muted"> Workshops verification requests </h3><br>
                <div class="">
                    <table class="table table-borderless table-data3 small" id="table">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>email</th>
                                <th>phone</th>
                                <th>Government</th>
                                <th>City</th>
                                <th>Street</th>
                                <th>Joined in</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ws in Model)
                            {
                                <tr id="@ws.Id">
                                    <td><a asp-controller="WorkShops" asp-action="Details" asp-route-id="@ws.Id">@ws.Name</a></td>
                                    <td>
                                        <span class="block-email">@ws.User.Email</span>
                                    </td>
                                    <td class="desc">@ws.User.PhoneNumber</td>
                                    <td>@ws.Government</td>
                                    <td>@ws.City</td>
                                    <td>@ws.Address</td>
                                    <td>@ws.JoinedIn.ToShortDateString()</td>
                                    <td>
                                        <div class="table-data-feature row justify-content-center">
                                            <button class="item mr-3" onclick="confirm(@ws.Id)" data-toggle="tooltip" data-placement="top" title="Verify">
                                                <i class="fas fa-check"></i>
                                            </button>
                                            <button class="item" onclick="whichDelete(@ws.Id)" data-toggle="modal" data-target="#myDeleteModal">
                                                <i class="mdi mdi-delete" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade delete" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Service</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="pt-3 pb-4">
                        Are you sure to delete this service?
                    </p>
                    <hr />
                    <div class="form-group">
                        <button id="close-modal" type="button" class="btn btn-light float-right ml-3" data-dismiss="modal">cancel</button>
                        <input type="button" onclick="deleteWorkshop()" value="Delete" class="btn btn-danger float-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $('#table').dataTable({
        });

        function confirm(id) {
            $.ajax({
                type: "GET",
                url: `/Admin/ConfirmWorkshop/${id}`,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $(`#${id}`).remove();

                    $('#alert-error').removeClass('d-none')
                        .addClass(['fade', 'show']).fadeIn();
                    $('#message').html(response);
                    let promise1 = (
                        new Promise((resolve, reject) => {
                            setTimeout(() => resolve("Welcome !!"), 10000);
                        }))
                        .then(() => $('#alert-error').fadeOut().addClass('d-none')
                            .removeClass(['fade', 'show']));
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function deleteWorkshop() {
            var id = $('#which-delete')[0].value;
            $('#myDeleteModal').fadeOut();
            $('#myDeleteModal').modal('hide');
            $.ajax({
                type: "GET",
                url: `/Admin/DeleteWorkshop/${id}`,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $(`#${id}`).remove();
                    $('#alert-error').removeClass('d-none')
                        .addClass(['fade', 'show']).fadeIn();
                    $('#message').html(response);
                    let promise1 = (
                        new Promise((resolve, reject) => {
                            setTimeout(() => resolve("Welcome !!"), 10000);
                        }))
                        .then(() => $('#alert-error').fadeOut().addClass('d-none')
                            .removeClass(['fade', 'show']));
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function whichDelete(id) {
            $('#which-delete')[0].value = id;
        }
    </script>
}