@model List<Workshop.Models.Service>

@{
    Layout = "_Layout2";
    ViewData["Title"] = "Verified Services";
}

<div class="dashboard">
    <input type="hidden" id="which-delete" value="0" />
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="d-flex justify-content-center custom-alert">
                    <div class="d-none alert alert-warning alert-dismissible w-75" role="alert" id="alert-error">
                        <div class="row">
                            <div class="col-11">
                                <i class="fa fa-exclamation-circle mr-3"></i>
                                <span id="message" class="small"></span>
                            </div>
                            <div class="col-1">
                                <button type="button" class="close ml-5" onclick="$('#alert-error').fadeOut()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="text-muted"> Verified Services </h2><br />
                <div class="">
                    <table class="table table-borderless table-data3 small" id="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Workshop</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Date</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model)
                            {
                                <tr class="" id="@s.Id">
                                    <td>
                                        <span class="">@s.Title</span>
                                    </td>
                                    <td>
                                        <a asp-controller="WorkShops" asp-action="Details" asp-route-id="@s.WorkShop.Id">
                                            @s.WorkShop.Name
                                        </a>
                                    </td>
                                    <td class="desc" data-toggle="tooltip" data-placement="top" title="@s.Description">
                                        @if (s.Description != null)
                                        {
                                            @if (s.Description.Length > 40)
                                            {
                                                @s.Description.Substring(0, 40) <span>...</span>
                                            }
                                            else
                                            {
                                                @s.Description
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (s.Image != null)
                                        {
                                            <img src="~/Upload/images/@s.Image" class="rounded-circle img-service" />
                                        }
                                        else
                                        {
                                            <img src="~/imgs/car-service.jpg" class="rounded-circle img-service" />

                                        }
                                    </td>
                                    <td>@s.AddedIn.ToShortDateString()</td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="item" onclick="whichDelete(@s.Id)" data-toggle="modal" data-target="#myDeleteModal">
                                                <i class="mdi mdi-delete" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade delete" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Service</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p class="pt-3 pb-4">
                        Are you sure to delete this service?
                    </p>
                    <hr />
                    <div class="form-group">
                        <button id="close-modal" type="button" class="btn btn-light float-right ml-3" data-dismiss="modal">cancel</button>
                        <input type="button" onclick="deleteService()" value="Delete" class="btn btn-danger float-right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#collapse2').addClass('show');
            $('#collapse1').removeClass('show');
        });
        $('#table').dataTable({
        });
        function whichDelete(id) {
            $('#which-delete')[0].value = id;
        }
        function deleteService() {
            var id = $('#which-delete')[0].value;
            $('#myDeleteModal').modal('hide');
            $.ajax({
                type: "GET",
                url: `/Admin/DeleteService/${id}`,
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (response) {
                    $(`#${id}`).remove();
                    $('#alert-error').removeClass('d-none')
                        .addClass(['fade', 'show']).fadeIn();
                    $('#message').html(response);
                    let promise1 = (
                        new Promise((resolve, reject) => {
                            setTimeout(() => resolve("Welcome !!"), 10000);
                        }))
                        .then(() => $('#alert-error').fadeOut().addClass('d-none')
                            .removeClass(['fade', 'show']));
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    </script>
}