@model Workshop.ViewModel.ServicesViewModel

@{
    ViewData["Title"] = "DisplayServices";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h2 class="text-muted"> Services </h2><br />
                <div class="mt-2 mb-3">
                    @{ if (TempData["Done"] != null)
                        {
                            <div class="alert alert-primary alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                @TempData["Done"]
                            </div>
                        }
                    }
                    <button type="button" class="btn btn-primary text-white" style="border-radius: 40px;" data-toggle="modal" data-target="#myModal">
                        <i class="fa fa-plus-circle"></i> Create New Service
                    </button>
                </div>
                <div class="">
                    <table class="table table-borderless table-data3 small" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Price</th>
                                <th width="500px">Description</th>
                                <th>Image</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.services)
                            {
                                <tr>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @if (@item.Image != null)
                                        {
                                            <img src="~/Upload/images/@item.Image" class="rounded-circle img-service" />
                                        }
                                        else
                                        {
                                            <img src="~/imgs/car-service.jpg" class="rounded-circle img-service" />

                                        }
                                    </td>
                                    <td>
                                        <a class="btn" onclick="update(@item.Id)">
                                            <i class="fas fa-edit text-primary"></i>
                                            @*update*@
                                        </a>
                                    <td>
                                        <a class="btn" onclick="Delete(@item.Id)">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-container">
                        <nav>
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="update"></div>

@*Delete*@

<partial name="Delete.cshtml" />

@*Create*@
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-primary">Create service</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body p-4">
                <form asp-action="create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group ">
                        <label asp-for="Image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Imagepath" class="form-control custom-file-input" />
                            <label class="custom-file-label">Choose Image ...</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary float-right mt-4 mb-4" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();

            $('.custom-file-input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
                console.log(fileName);
            });
        });
        function update(id) {
            $.ajax({
                type: "Get",
                url: '/workshop/dashboard/Edit',
                data: { id },
                dataType: "html",
                success: function (res) {
                    $("#update").html(res);
                    $("#myUpdateModal").modal("show");
                }
            });
        }
        function Delete(id) {
            $.ajax({
                type: "Get",
                url: "/workshop/dashboard/Delete",
                data: { id },
                dataType: "html",
                success: function (res) {
                    console.log(id);
                    $("#myDeleteModal").html(res);
                    $(".delete").modal("show");
                },
                error: function (err) {
                    console.log(err);
                }
            });
        }
    </script>
}