
@{
    ViewData["Title"] = "GetRate";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                @{ if (TempData["Done"] != null)
                    {
                        <div class="alert alert-primary alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @TempData["Done"]
                        </div>
                    }

                }
            

                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>

                                        <th>UserName</th>
                                        <th>Date</th>
                                        <th>Review</th>
                                        <th>Rate</th>

                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in ViewBag.Rates)
                                    {

                                        <tr>
                                            <td>
                                                @item.UserProfile.FirstName @item.UserProfile.LastName
                                            </td>
                                            <td>
                                                @item.Date
                                            </td>
                                            <td>
                                                @item.Review
                                            </td>

                                            <td>
                                                @item.Rate
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <div class="pagination-container">
                                <nav>
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>

                        </div>
                    </div>

                </div>





            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

       

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->




@section Scripts {


}



