@model List<WorkshopPlatform.ViewModels.UserServicesViewModel>
@{
    ViewData["Title"] = "RequestedServices";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div class="container-fluid">
                <h2 class="text-muted"> Requested Services </h2><br />
                <div class="">
                    <form method="post" asp-action="Update">
                        <table class="table table-borderless table-data3 small" id="dataTable1" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Client</th>
                                    <th>Service</th>
                                    <th>Date</th>
                                    <th>Finish</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{var i = 0;
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-controller="UserProfile" asp-action="Index" asp-route-username="@item.UserName">
                                                    <div class="row pl-3 align-items-center">
                                                        @if (item.Userprofile.Image == null)
                                                        {
                                                            <img class="img-profile rounded-circle mr-2" src="/imgs/undraw_male_avatar_323b.svg">
                                                        }
                                                        else
                                                        {
                                                            <img class="img-profile rounded-circle mr-2" src="/Upload/images/@item.Userprofile.Image">
                                                        }
                                                        @item.UserName
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <input name="data[@i].Id" asp-for="@item.Id" value="@item.Id" style="display:none" />
                                                @item.Title
                                            </td>
                                            <td>
                                                @item.Date.ToShortDateString() -
                                                @item.Date.ToShortTimeString()
                                            </td>
                                            <td>
                                                <input type="checkbox" name="data[@i].Finished" asp-for="@item.Finished" />
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="pagination-container">
                            <nav>
                                <ul class="pagination"></ul>
                            </nav>
                        </div>
                        <button formmethod="post" type="submit" class="btn btn-primary text-white mt-4 mb-3" style="border-radius: 40px;">
                            Update
                        </button>
                    </form>
                </div>
                <hr class="mb-5">
                <h2 class="text-muted"> History </h2><br />
                <div class="">
                    <table class="table table-borderless table-data3 small" id="dataTable2" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Client</th>
                                <th>Service</th>
                                <th>Date</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.Historyservices)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="UserProfile" asp-action="Index" asp-route-username="@item.UserName">
                                            <div class="row pl-3 align-items-center">
                                                @if (item.Userprofile.Image == null)
                                                {
                                                    <img class="img-profile rounded-circle mr-2" src="/imgs/undraw_male_avatar_323b.svg">
                                                }
                                                else
                                                {
                                                    <img class="img-profile rounded-circle mr-2" src="/Upload/images/@item.Userprofile.Image">
                                                }
                                                @item.UserName
                                            </div>
                                        </a>
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Date.ToShortDateString() -
                                        @item.Date.ToShortTimeString()
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="pagination-container">
                        <nav>
                            <ul class="pagination"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#dataTable1').DataTable();
            $('#dataTable2').DataTable();
        });

        function update(id) {
            //var ide = id;
            $.ajax({
                type: "Get",
                url: "/Services/Edit",
                data: { id },
                dataType: "html",
                success: function (res) {
                    //var qqq = $(this).closest('.modal');
                    $("#myUpdateModal").html(res);
                    //$(".modal").modal();
                    $(".updateModal").modal("show");
                }
            });
        }
    </script>
}