@model List<WorkshopPlatform.ViewModels.UserServicesViewModel>
@{
    ViewData["Title"] = "RequestedServices";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<!-- Page Wrapper -->
<div id="wrapper">


    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                @{ if (TempData["Done"] != null)
                    {
                        <div class="alert alert-primary alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            @TempData["Done"]
                        </div>
                    }

                }
                <h2> Requested Services </h2><br />
                <!-- DataTales Example -->
                                             <div class="card shadow mb-4">

                                                 <div class="card-body">
                                                     <div class="table-responsive">
                                                         <form method="post" asp-action="Update">

                                                             <table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
                                                                 <thead>
                                                                     <tr>
                                                                         <th>Service Title</th>
                                                                         <th>Client User Name</th>
                                                                         <th>Date</th>
                                                                         <th>Finish</th>
                                                                     </tr>
                                                                 </thead>

                                                                 <tbody>
                                                                 @{var i = 0;
                                                                         @foreach(var item in Model)
                                                                         {
                                                                             <tr>
                                                                                 <td>
                                                                                     <input  name="data[@i].Id" asp-for="@item.Id" value="@item.Id" style="display:none" />
                                                                                     @item.Title
                                                                                 </td>
                                                                                 <td>
                                                                                     @item.UserName
                                                                                 </td>
                                                                                 <td>
                                                                                     @item.Date
                                                                                 </td>

                                                                                 <td>

                                                                                     Finished <input type="checkbox" name="data[@i].Finished" asp-for="@item.Finished" />
                                                                                 </td>

                                                                             </tr>
                                                                             i++;
                                                                         }
                                                                    
                                                                     }
                                                                     
                                                                 </tbody>
                                                             </table>
                                                             <div class="pagination-container">
                                                                 <nav>
                                                                     <ul class="pagination"></ul>
                                                                 </nav>
                                                             </div>
                                                             <button formmethod="post"  type="submit" class="btn btn-primary" style="color:white;">Update</button>
                                          
                                                         </form>
                                                     </div>
                                                 </div>
                                                 
                                             </div>
               

                <h2> History </h2><br />
                <!-- DataTales Example -->
                <div class="card shadow mb-4">

                    <div class="card-body">
                        <div class="table-responsive">
                                <table class="table table-bordered" id="mytable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Service Title</th>
                                            <th>Client User Name</th>
                                            <th>Date</th>

                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in ViewBag.Historyservices)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Service.Title
                                                </td>
                                                <td>
                                                    @item.User.UserName
                                                </td>
                                                <td>
                                                    @item.Date
                                                </td>


                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            <div class="pagination-container">
                                <nav>
                                    <ul class="pagination"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->



    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>



    @section Scripts {
        <script>

            function update(id) {
                //var ide = id;

                $.ajax({
                    type: "Get",
                    url: "/Services/Edit",
                    data: { id },
                    dataType: "html",
                    success: function (res) {
                        //var qqq = $(this).closest('.modal');
                        $("#myUpdateModal").html(res);
                        //$(".modal").modal();
                        $(".updateModal").modal("show");
                    }
                });
            }
           
        </script>
    }

